<!DOCTYPE html>

<head>
    <title>VIEW</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <h1 class="text-center">Olá, me diga seu nome e o animal que você mais gosta!</h1>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-6 col-md-4">
                <form id="form">
                    <div class="form-group mt-5">
                        <label>Digite seu nome</label>
                        <input type="text" name="NOME" id="NOME" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Selecione o animal que você mais gosta</label>
                        <select name="ANIMAL" id="ANIMAL" class="form-control">

                            <option value="">Selecione...</option>
                            <option value="1">Hiena</option>
                            <option value="2">Gato</option>
                            <option value="3">Peixe</option>
                        </select>
                    </div>
                    <div class="form-group row justify-content-end">
                        <div class="col-12 col-sm-8 col-md-6">
                            <button class="btn btn-success btn-block btn-send">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="retorno" class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6">
                <div class="alert-primary">
                    <h1 class="text-center text-dark">
                        Menssagem
                    </h1>
                </div>
                <img src="../img/peixe.png" class="img-fluid">
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script src="../controller/control.js"></script>
</body>

</html>